.djin-card {
  margin: 5px !important;
  width: 226px !important;
  img {
    width: auto;
    height: auto;
    margin: 20px;
  }
}

.ui.menu {
  border-radius: 0 !important;
}
.djins-div {
  margin: 0 30px;
}
.right-space {
  margin-right: 5px !important;
}
.modal-img {
  width: 100%;
  height: auto !important;
}

.last-input {
  margin-bottom: 16px;
}

.meta {
  margin-bottom: 10px;
}